body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	color: DarkOliveGreen;
	font-family: Palatino, ' Palatino Linotype',serif;
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


.hero {
	background-image: url('http://www.fondosypantallas.com/wp-content/uploads/2008/12/ph-116401.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
	color: rgb(46,105,163);
}


p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 0.75rem;
}


